<article
  class="flex flex-col w-auto border border-dark-6 rounded-md bg-dark-2 relative z-10 text-14 font-mono text-dark-8 p-8 leading-relaxed">
  <p>This page is available to registered users only.</p>
  <p>Please log in or create an account to view the content.</p>

  <div class="flex flex-row gap-2 mt-8">
    <a [routerLink]="['/']"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       class="flex  text-green cursor-pointer">
      Main
    </a>
    <span class="flex">|</span>
    <div class="flex  text-green cursor-pointer" (click)="goLogin()">Log in</div>
  </div>

</article>
