<section
  class="bg-dark-2 flex flex-col items-center h-full px-8 pt-8 pb-4 overflow-hidden rounded-md border border-dark-3 justify-center text-dark-9">
  <div class="flex flex-col items-center justify-center w-full gap-8 text-14">
    <h2 class="uppercase font-medium">Add New Room</h2>

    <form class="flex flex-col justify-center gap-0 max-w-2xs w-full" [formGroup]="form"
          [class.waiting]="loading()">

      <mat-form-field class="w-full relative z-10">
        <mat-label>Hotel</mat-label>

        <mat-select
          id="hotel"
          formControlName="hotelId"
          class="!border !border-dark-8 !p-2 !rounded-sm !bg-dark-4 h-full"
          panelClass="!border !border-dark-8 !rounded-sm !bg-dark-2"
          appMarkControlOnBlur
          required>
          <div class="text-dark-8">
            @for (hotel of hotels(); track hotel.id) {
              <mat-option [value]="hotel.id" class="!min-h-10 hover:!bg-dark-3"> {{ hotel.name }}&#160;({{ hotel.city }})</mat-option>
            }
          </div>
        </mat-select>

        @if (form.controls['hotelId'].invalid) {
          <mat-error class="error">
            @if (form.controls['hotelId'].errors?.['required']) {
              <small>Hotel is required</small>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full relative z-10">
        <mat-label>{{ "Room category" }}</mat-label>
        <input matInput
               id="category"
               type="text"
               formControlName="category"
               class="!border !border-dark-8 !p-2 !rounded-sm !bg-dark-4"
               appMarkControlOnBlur
               required/>
        @if (form.controls['category'].invalid) {
          <mat-error class="error">
            @if (form.controls['category'].errors?.['required']) {
              <small> {{ "Room category" }} {{ "is required" }} </small>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full relative z-10">
        <mat-label>{{ "Room number" }}</mat-label>
        <input matInput
               id="number"
               type="number"
               step="1"
               min="1"
               formControlName="number"
               class="!border !border-dark-8 !p-2 !rounded-sm !bg-dark-4"
               appMarkControlOnBlur
               required/>
        @if (form.controls['number'].invalid) {
          <mat-error class="error">
            @if (form.controls['number'].errors?.['required']) {
              <small> {{ "Room number" }} {{ "is required" }} </small>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full relative z-10">
        <mat-label>{{ "Price" }}</mat-label>
        <input matInput
               id="price"
               type="number"
               step="1"
               min="0"
               formControlName="price"
               class="!border !border-dark-8 !p-2 !rounded-sm !bg-dark-4"
               appMarkControlOnBlur
               required/>
        @if (form.controls['price'].invalid) {
          <mat-error class="error">
            @if (form.controls['price'].errors?.['required']) {
              <small> {{ "Price" }} {{ "is required" }} </small>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full relative z-10">
        <mat-label>{{ "Max capacity" }}</mat-label>
        <input matInput
               id="maxCapacity"
               type="number"
               step="1"
               min="1"
               [defaultValue]="1"
               formControlName="maxCapacity"
               class="!border !border-dark-8 !p-2 !rounded-sm !bg-dark-4"
               appMarkControlOnBlur
               required/>
        @if (form.controls['maxCapacity'].invalid) {
          <mat-error class="error">
            @if (form.controls['maxCapacity'].errors?.['required']) {
              <small> {{ "Max capacity" }} {{ "is required" }} </small>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full relative z-10">
        <mat-label>{{ "Description" }}</mat-label>
        <textarea matInput
                  id="description"
                  type="text"
                  rows="5"
                  maxlength="500"
                  formControlName="description"
                  class="!border !border-dark-8 !p-2 !rounded-sm !bg-dark-4 !w-full"
                  appMarkControlOnBlur
                  required></textarea>
        @if (form.controls['description'].invalid) {
          <mat-error class="error">
            @if (form.controls['description'].errors?.['required']) {
              <small> {{ "Description" }} {{ "is required" }} </small>
            }
          </mat-error>
        }
      </mat-form-field>


    </form>

    <div class="relative flex flex-row justify-center items-center !h-6 !w-full">
      @if (loading()) {
        <mat-spinner @spinerAnimation class="absolute !h-6 !w-6"></mat-spinner>
      } @else if (error()) {
        <app-error-toast></app-error-toast>
      }
    </div>
  </div>

  <mat-dialog-actions align="end" class="w-full flex flex-col justify-center gap-6">
    <button matButton="filled"
            class="uppercase max-w-2xs h-10 w-full rounded-sm p-2 !font-medium cursor-pointer transition-all duration-200
                   disabled:bg-dark-3 disabled:text-dark-6 disabled:!border-dark-6 disabled:cursor-not-allowed
                   bg-green text-dark-2 border-green border text-14"
            [disabled]="form.invalid"
            (click)="add()"
    >
      <span class="text-14">Add</span>
    </button>

    <button matButton="filled" class="cursor-pointer text-14" (click)="close()"><span class="text-14">Cancel</span>
    </button>

  </mat-dialog-actions>
</section>
